@font-face {
  font-family: NotoSerif;
  src: url("../fonts/noto-serif/NotoSerif-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts//gilroy/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroy/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
